

.grid-container {
    padding: 100px;
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
}
  
.card-container {
    background-color: #ffece7;
    padding: 100px;
    box-shadow: 0 2px 5px rgba(50, 50, 50, 0.3);
    display: flex;
    gap: 30px;
}

.recibo-detail {
    flex: 1; /* O card de detalhes também ocupa o espaço disponível */
}

table{
    width: 100rem;
    height: 30rem;
}